.scan-area{
  position: absolute;
  width: max(25vw, 25vh);
  height: max(25vw, 25vh);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scan-area-indicator{
  position: absolute;
  width: 20%;
  min-width: 20px;
  height: 20%;
  min-height: 20px;
}