body {
    font-family: "Lato", sans-serif;
}

.ds-wrapper .form-group label {
    color: #6B1737;
    display: block;
    font-size: 80%;
    margin: 0.25em;
    width: 100%;
    font-weight: normal;
}

.ds-wrapper .multi-select-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background-color: #f9f9f9;
    align-items: center;
    position: relative;
}

.ds-wrapper .chip {
    display: inline-flex;
    align-items: center;
    background-color: #FFE8EF;
    color: #6B1737;
    border-radius: 12px;
    padding: 2px 8px;
    font-size: 0.9em;
    gap: 5px;
    white-space: nowrap;
}

.ds-wrapper .chip.add {
    background-color: #891E49;
    color: white;
    cursor: pointer;
    padding: 4px 10px;

}

.ds-wrapper .chip-close {
    cursor: pointer;
    font-weight: bold;
    color: #891E49;
    padding: 0 3px;
    margin-left: 3px;
    transition: color 0.2s;
}

.ds-wrapper .multi-input,
.ds-wrapper .single-input {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 0.75em;
    box-sizing: border-box;
    color: #333;
    font-family: inherit;
    outline: none;
    padding: 6px 8px;
    width: 100%;
    transition: border-color 0.2s, box-shadow 0.2s;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="292.4" height="292.4" fill="%23891E49"><path d="M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-4.9 0-9.4 1.8-13 5.4a17.6 17.6 0 0 0-5.4 13c0 5 1.8 9.4 5.4 13l115.1 115.1c3.5 3.5 8 5.4 13 5.4s9.4-1.9 13-5.4L287 95.4c3.5-3.5 5.4-8 5.4-13 0-5-1.9-9.4-5.4-13z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%;
    background-size: 0.65em auto;
    padding-right: 2em;
}

.ds-dropdown-results {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin-top: 4px;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ds-dropdown-item {
    padding: 6px 8px;
    cursor: pointer;
    font-size: 0.85em;
    transition: background 0.2s;
}

.ds-dropdown-item:hover {
    background-color: #D3D3D3;
}

.ds-wrapper .ds-dropdown-item.selected {
    background-color: #F0F8FF !important;
    font-weight: bold;
}

.ds-wrapper input::placeholder {
    color: #333 !important;
    opacity: 1 !important;
}