.popup-backdrop {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(5px); 
    overflow-y: auto; 
}


.popup-window {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    z-index: 1001; 
    width: auto;
    max-width: 90%;
    min-width: 300px;
}

.popup-header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    
}

.popup-title {
    margin: 0;
    font-size: 1.2em;
    color: #891E49;
}

.popup-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.popup-content {
    padding: 20px;
}

.alert-message {
    margin-bottom: 15px;
    font-size: 1em;
}

.alert-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.alert-actions button {
    flex-grow: 1; 
    
    border: none;
    padding: 10px 16px; 
    border-radius: 10px; 
    cursor: pointer;
    font-size: 1.1em; 
}

.save-button {
    background-color: #891E49;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.alert-actions button:not(.save-button) {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #891E49;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    color: #891E49;
}

.save-button:hover {
    background-color: #6B1737;
}