h1 {
    display: flex;
    justify-content: center; /* wyśrodkowanie horyzontalne całego h1 */
    align-items: center;     /* wyrównanie obrazka i tekstu w pionie */
    font-size: 2em;
    font-weight: bold;
    color: #631433;
    margin: 0.67em 0;
    gap: 0.15em; /* odstęp między ikoną a tekstem */
}

h1 > img {
    filter: invert(16%) sepia(87%) saturate(2250%) hue-rotate(320deg) brightness(40%) contrast(100%);
    transform: scale(1.35);
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.panel .header {
    margin: 0;
    color: #891E49;
    border-bottom: 1px solid #FFE8EF;
    padding-bottom: 0.5em;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 0.5em;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.multi-select-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background-color: #f9f9f9;
    align-items: center;
}

.multi-select-container select,
.multi-select-container input[type="text"] {
    flex: 1;
    min-width: 150px;
}

.chip {
    display: inline-flex;
    align-items: center;
    background-color: #FFE8EF;
    color: #6B1737;
    border-radius: 12px;
    padding: 4px 10px;
    font-size: 0.9em;
    gap: 5px;
    white-space: nowrap;
}

.add {
    background-color: #891E49;
    color: white;
    cursor: pointer;
}

.chip-close {
    cursor: pointer;
    font-weight: bold;
    color: #891E49;
    padding: 0 3px;
    margin-left: 3px;
    transition: color 0.2s;
}

.chip-close:hover {
    color: #C73867;
}

.panel.book-info {
    padding: 1.5em;
}

.form-grid {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-grid input[type="text"],
.form-grid input[type="number"],
.form-grid select,
.form-grid .multi-select-container,
.form-grid #isbn-container {
    width: 100%;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    flex: 1 1 50%;
}

#isbn-container {
    display: flex;
    gap: 10px;
}

#isbn-container input#isbn {
    flex-grow: 1;
    width: auto;
}

@media (min-width: 650px) {

    .form-row {
        flex-direction: row;
        gap: 2em;
    }

    .form-row .form-group {
        flex-basis: 50%;
    }
}

.add-container>button {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}