.toggle-header {
    cursor: pointer;
    color: #891E49;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f1d0da;
    user-select: none;
}

.collapsible-content {
    overflow-x: scroll;
    overflow-y: hidden;
    transition: max-height 0.4s ease-in-out;
}

.collapsible-content.collapsed {
    max-height: 0;
}


.toggle-header .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 1.5em;
    transform: rotate(270deg);
}

.toggle-header.collapsed .arrow {
    transform: rotate(90deg);
}