input,
select,
textarea {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 0.75em;
  box-sizing: border-box;
  color: #333;
  font-family: inherit;
  outline: none;
  padding: 0.5em;
  transition: border-color 0.2s, box-shadow 0.2s;
  width: 100%;
}

input {
  border: 1px solid #ccc;
}

label,
#privacyPolicyLabel {
  color: #6B1737;
  display: block;
  font-size: 80%;
  margin: 0.25em;
  width: 100%;
}

#labelDateRange,
#labelSort {
  color: #6B1737;
  font-size: 80%;
  margin: 0.25em;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="292.4" height="292.4" fill="%23891E49"><path d="M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-4.9 0-9.4 1.8-13 5.4a17.6 17.6 0 0 0 0 24.1l128 128a17.6 17.6 0 0 0 24.1 0l128-128a17.6 17.6 0 0 0 0-24.1z"/></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 0.65em auto;
  padding-right: 2em;
}

button {
  height: 2.5em;
  background-color: #891E49;
  border: none;
  border-radius: 0.75em;
  color: white;
  cursor: pointer;
  padding: 0.5em 1.0em;
  transition: background-color 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}

button:hover {
  background-color: #6B1737;
}

button.boring {
  border: 1px solid #891E49;
  background-color: white;
  color: #891E49;
}

button.boring:hover {
  background-color: #f0d0dc;
  color: #891E49;
}

button:disabled {
  background-color: #D3D3D3;
  color: #888888;
  cursor: default;
  box-shadow: none;
}

button.boring:disabled {
  border: 0;
}

button:disabled:hover {
  background-color: #D3D3D3;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #891E49;
  box-shadow: 0 0 0 3px #FFE8EF;
}

form {
  background: white;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}